.counterDisplay {
    background-color: #203A58;
    border: #309EC2 3px solid;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.normal {
    color: #309EC2;
}

.max {
    color: #F10000;
}